.mainnav {
  padding: 20px 0;
}
.mainnav ul {
  display: flex;
  justify-content: center;
}
.mainnav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.mainnav ul li {
  list-style: none;
  margin: 0 24px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.heroSectionHeader {
  margin: 20px 0;
}
.imageWrap {
  padding: 10px;
}
.heroImage {
  width: 237px;
  height: 158px;
  border-radius: 20px;
}
.blogItem {
  margin: 10px 0;
}
.blogItem p {
  margin: 10px 0;
}
